.sectionLogin{
    display: flex;
    justify-content: center;
}
.sectionLogin .sectionForm{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 25%;
}
.formGrid a {
    text-decoration: none;
    text-align: center;
    padding: 14px;
    border-radius: 14px;
    box-shadow: 2px 2px 2px, -2px -2px 2px;
}

.sectionLogin .sectionForm .formGrid a:nth-child(1) {
    background-color: #3A5D96;
    color: white;
}
.sectionLogin .sectionForm .formGrid a:nth-child(2) {
    border: 1px solid #3A5D96;
    color: #3A5D96;
}
input[type='email']{
    color: rgba(58, 93, 150);;
    padding: 14px;
    border-radius: 8px;
    border: none;
}
.sectionLogin .sectionForm .formFlex:nth-child(3){
    gap: 10px;
}



@media screen and (max-width:1000px) {
    .sectionLogin .sectionForm{
        width: 40%;
    }
}



@media screen and (max-width:700px) {
    .sectionLogin .sectionForm{
        width: 55%;
    }
}



@media screen and (max-width:500px) {
    .sectionLogin .sectionForm{
        width: 70%;
    }
}