.sectionEvents{
    background-image: url('../../img/event.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150vh;
    margin: 50px;
    border-radius: 44px;
    /* width: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.eventHeading{
    padding: 50px 0 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eventHeading h1{
    margin: 0;
    font-size: 70px;
    color: white;
}
.head{
    color:rgba(58, 93, 150);
}
.eventHeading p{
    width: 300px;
    /* padding: 20px 30px; */
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    color: rgba(58, 93, 150);
    font-size: 22px;
    font-weight: bold;
}